LiquidGenesis/dataset_custom/
LiquidGenesis/processed/
LiquidGenesis/vol_est/dataset/
LiquidGenesis/vol_est/plots/
LiquidGenesis/Video/
LiquidGenesis/cont_pos/data/
LiquidGenesis/urdf/urdf_files_dataset/
old/
ws_thesis/build
ws_thesis/log
ws_thesis/install
*.pth
*.torch
*.mp4
*.ply
